#labDescription{
    background:rgb(0, 22, 45);
    height:auto;
}
.mobile-view.lab{
    display:none;
}
.slider{
    background:rgb(0, 22, 45);
    padding:2.5%;
    display:flex;
    position:relative;
}
.slider img{
    height:350px;
    aspect-ratio: 1.7;
}
.slideText{
    margin-left:2%;
    max-width:50%;
}
.slideText h1{
    font-weight:400;
}
.slideText p{
    font-weight:300;
}
.slideClick{
    position:absolute;
    height:90%;
    width:50%;
    display:flex;
    align-items:center;
    cursor:pointer;
}
.slideClick.forward:hover{
    background-image: linear-gradient(to right, transparent, rgba(206, 231, 255, 0.11));
}
.slideClick.back:hover{
    background-image: linear-gradient(to left, transparent, rgba(206, 231, 255, 0.11));
}
.slideClick.back{
    left:0;
}
.slideClick.forward{
    right:0;
}
@media screen and (max-width:481px){
    .mobile-view.lab{
        display:block;
    }
    .web-view.lab{
        display:none;
    }
}
@media screen and (max-width:983px){
    .slider{
        flex-direction:column;
        padding-inline:3%;
    }
    .slider img{
        height:100%;
        width:100%;
    }
    .slideText{
        margin:0;
        max-width:100%;
    }
    .slideClick:hover{
        background:transparent;
    }
}