#labDescription{
    background:rgb(0, 22, 45);
    height:auto;
}
.mobile-view.lab{
    display:none;
}
.slider{
    background:rgb(0, 22, 45);
    padding:2.5%;
    display:flex;
    position:relative;
}
.slider img{
    height:350px;
    aspect-ratio: 1.7;
}
.slideText{
    margin-left:2%;
    max-width:50%;
}
.slideText h1{
    font-weight:400;
}
.slideText p{
    font-weight:300;
}
.slideClick{
    position:absolute;
    height:90%;
    width:50%;
    display:flex;
    align-items:center;
    cursor:pointer;
}
.slideClick.forward:hover{
    background-image: linear-gradient(to right, transparent, rgba(0, 13, 26, 0.645));
}
.slideClick.back:hover{
    background-image: linear-gradient(to left, transparent, rgba(0, 20, 39, 0.645));
}
.slideClick.back{
    left:0;
}
.slideClick.forward{
    right:0;
}
.slideCounter{
    background:rgba(255, 255, 255, 0.505);
    position:absolute;
    width:fit-content;
    bottom:50px;
    left:50%;
    padding-inline:1%;
    padding-block:0.2%;
    border-radius:25vw;
    display:flex;
    gap:10px;
    transform:translateX(-50%);
}
.slideCounter:hover{
    display:none;
}
.slideCircle{
    height:10px;
    aspect-ratio: 1;
    border-radius:50%;
    border:3px solid rgb(0, 38, 76);
}
.slideCircle.active{
    background:rgb(0, 38, 76);
}
@media screen and (max-width:481px){
    .mobile-view.lab{
        display:block;
    }
    .web-view.lab{
        display:none;
    }
}
@media screen and (max-width:983px){
    .slider{
        flex-direction:column;
        padding-inline:3%;
    }
    .slider img{
        height:100%;
        width:100%;
    }
    .slideText{
        margin:0;
        max-width:100%;
    }
    .slideClick:hover{
        background:transparent;
    }
    .slideCounter{
        display:none;
    }
}