#projectsFotoDiv{
    height:100vh;
    width:100%;
    background-image: url("../../Images/projects-display.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    display:flex;
    flex-direction:column;
    flex-basis:70%;
    justify-content:center;
    align-items: center;
}
#projectsFotoDiv a:hover{
    animation:0.5s ease hover-switch forwards;
}
#projectsDiv{
    height:auto;
    width:97%;
    background-color:rgb(0, 22, 45);
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    padding:0% 0% 7vh 3% !important;
}
#projectsFotoDiv h2{
    margin-bottom:2000px;
    animation:slideTop 2s 0.25s forwards;
}
#projectsFotoDiv h3{
    color:transparent;
    animation:descriptionShow 1s 2.25s forwards;
}
.container{
    width: 280px;
    aspect-ratio: 1.2;
    border-radius:7%;
    position:relative;
    overflow:hidden;
    box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px, rgb(0 0 0 / 6%) 0px 3px 3px -2px, rgb(0 0 0 / 10%) 0px 1px 8px 0px;
    margin-right:3%;
    margin-top:3%;
}
.container img{
    display:block;
    height:100%;
    width:100%;
    filter:brightness(70%);
}
.overlay{
    position:absolute;
    top:100%;
    left:0;
    right:0;
    background-color:rgba(0, 44, 91, 0.689);
    overflow:hidden;
    width:96%;
    height:0;
    transition:1s ease;
    padding:2% 2% 2% 2%;
}
.container:hover .overlay{
    top:70%;
    height:26%;
}
.container:hover{
    box-shadow: rgb(0 0 0 / 7%) 0px 7px 8px 0px, rgb(0 0 0 / 6%) 0px 5px 12px 2px, rgb(0 0 0 / 10%) 0px 5px 12px 0px;
}
.t{
    font-weight:900;
    overflow:hidden;
}
.d{
    font-weight:200;
    overflow:hidden;
}
@media screen and (max-width:611px){
    #projectsDiv{
        justify-content: center;
    }
    .container{
        width:70%;
    }
}