.footerDiv{
    background:transparent;
    position:fixed;
    bottom:0;
    height:5vh;
    width:100%;
    z-index: 999;
}
.footerDiv ul{
    height:100%;
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items:center;
}
.footerDiv li{
    cursor:pointer;
}
.footerDiv li:hover{
    animation:over-under 0.2s forwards;
    text-decoration:underline;
}
@keyframes over-under{
    0%{
        text-decoration: overline;
    }50%{
        text-decoration: line-through;
    }100%{
        text-decoration:underline;
        color:rgb(0, 162, 162);
    }
}